@use "../../shared/styles/variables.scss";

.header {
  top: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1000;
  background: variables.$white;
  border-bottom: solid 2px variables.$grey;
  align-items: center;
  position: sticky;
  padding-top: 15px;
  padding-bottom: 15px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
}
