// @use "../../../shared/styles/mixins/rfs.scss";
@use "../../../shared/styles/variables.scss";

.logo {
  text-align: center;
  width: min-content;
  display: flex;
  flex-direction: column;
}

.headline {
  color: variables.$base;
  white-space: nowrap;
  padding: 10px 0;
  font-weight: 600;
  font-size: 2rem;
  // @include rfs.font-size(2rem);
}

.sub {
  color: variables.$dark;
  font-weight: 500;
  font-size: 1rem;
  // @include rfs.font-size(1rem);
}
