:root {
  // basic colors
  --color-black: #111;
  --color-white: #fff;
  --color-dark: #41454d;
  --color-grey: #a3b2cd;
  --color-base: #2a72f7;

  // accent colors
  --color-red: #f7482a;
  --color-accent: #f7b72a;
  --color-green: #2af72a;
}