//This should be Thin
//@font-face {
//  font-family: Roboto;
//  font-weight: 100;
//  font-display: fallback;
//  src: url("shared/fonts/Roboto-Medium.ttf") format("truetype");
//}

//This should be ExtraLight
//@font-face {
//  font-family: Roboto;
//  font-weight: 200;
//  font-display: fallback;
//  src: url("shared/fonts/Roboto-Medium.ttf") format("truetype");
//}

// This should be Light
//@font-face {
//  font-family: Roboto;
//  font-weight: 300;
//  font-display: fallback;
//  src: url("shared/fonts/Roboto-Medium.ttf") format("truetype");
//}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-display: fallback;
  src: url("shared/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-display: fallback;
  src: url("shared/fonts/Roboto-Medium.ttf") format("truetype");
}
// SemiBold
//@font-face {
//  font-family: Roboto;
//  font-weight: 600;
//  font-display: fallback;
//  src: url("shared/fonts/Roboto-Black.ttf") format("truetype");
//}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-display: fallback;
  src: url("shared/fonts/Roboto-Bold.ttf") format("truetype");
}