:root {
  // For font settings: size, line height, weight
  // line heights
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-l: 36px;
  --line-height-m: 24px;
  --line-height-s: 12px;

  // font weights
  --font-weight-regular: #f7482a;
  --font-weight-bold: #f7b72a;
  --color-green: #2af72a;
}