@font-face {
  font-family: "Roboto";
  src: url("shared/fonts/Roboto-Medium.ttf") format("truetype");
  font-display: fallback;
  font-weight: 100 200 300;
}

@font-face {
  font-family: "Roboto";
  src: url("shared/fonts/Roboto-Bold.ttf") format("truetype");
  font-display: fallback;
  font-weight: 400 500;
}

@font-face {
  font-family: "Roboto";
  src: url("shared/fonts/Roboto-Black.ttf") format("truetype");
  font-display: fallback;
  font-weight: 600;
}

html,
body {
  font-size: 16px;
  box-sizing: border-box;
  // min-width: 1200px;
  font-family: Roboto;
  font-weight: 300;
}
* {
  font-family: Roboto;
  font-weight: 300;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
