//@use "../../../../shared/styles/variables";
//@use "../../../../shared/styles/mixins/rfs";

.fieldGroup {
  padding: 15px;
  border: solid 2px var(--color-grey);
  border-radius: 5px;
}

.active {
  border: solid 2px var(--color-base-300);
  box-shadow: 0 0 8px var(--color-base-300);
  transition: 0.3s;
}

.activeText {
  color: var(--color-base-500);
  transition: 0.3s;
}

.fieldGroupTitle {
  //@include rfs.font-size(1rem);

  position: absolute;
  transform: translate(15px, -50%);
  padding: 0 10px;
  background: var(--color-white);
}