.common {
  //position: relative;
  color: inherit;
  //display: flex;
  //flex-direction: column;
  //height: 100vh;
}

.layout {
  display: flex;
  flex: 1
}

.nav {
  width: 200px;
  padding: 20px;
  background-color: var(--color-white);
}

.container {
  display: flex;
  align-items: start;
}

.content {
  //overflow-y: unset;
  flex: 1;
  padding: 20px;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: lightseagreen;
  top: var(--header-height);
  position: sticky;
  height: calc(100vh - var(--header-height));
}

.leftSide {
  color: blue
}

.block {
  background-color: lightgreen;
}

.rightSide {
  color: green
}