.common {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: flex;
  flex: 1
}

.nav {
  width: 200px;
  padding: 20px;
  background-color: var(--color-white);
}


.content {
  overflow-y: auto;
  flex: 1;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px; // Фиксированная ширина для 1 и 3 колонок, основная для 2
  gap: 16px;
  height: calc(100vh - 60px); // Учитываем высоту Header
}

.sidebar {
  padding: 20px;
  background-color: lightseagreen;
}

.block {
  background-color: lightgreen;
}

.info {
  background-color: lightseagreen;
}